button.standard-button {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 3px 0px var(--black);
    transition: 1s ease transform;
}

button.standard-button:hover {
transform: scale(105%)
}

button.standard-button a {
    color: var(--white);
    text-decoration: none;
    transition: 1s ease all;
}

button.standard-button a {
    transform: scale(105%)
}
