button.standard-button {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    border-radius: 8px;
    padding: 8px;
    box-shadow: 2px 2px 3px 0px var(--black);
}

button.standard-button a {
    color: var(--white);
    text-decoration: none;
}