footer {
    background-color: var(--primary);
    height: 160px;
    padding-inline: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer div.contact-info {
display: grid;
gap: 8px;
}

footer div.contact-info p {
    
}

footer div.contact-info p a {
    color: var(--white);
    text-shadow: 1px 1px 1px var(--black);
    /* box-shadow: 5px 5px 5px var(--black); */
}

footer nav {
display: flex;
flex-direction: column;
gap: 8px;
}

footer nav a {
    color: var(--white);
}