@import "./header.css";
@import "./hero.css";
@import "./about.css";
@import "./projects.css";
@import "./buttons.css";
@import "./footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

:root {
    /* --primary: #88BD4B;
    --secondary: #A6CD79;
    --tertiery: #699537;
    --quertiery: ;
    --accent: ;

    --black: #0B0F06;
    --white: #F5F9F0;
    --grey: #202D11; */

    --primary: #4d4bbd;
    --secondary: #9e9efc;
    --tertiery: #4e516e;
    --quertiery: ;
    --accent: ;

    --black: #0e0e0e;
    --white: #fdfdff;
    --grey: #35363f;

}

body {
    color: var(--white);
    
    background-color:  var(--black);
    overflow-x: hidden;
}

main {
    /* padding-inline: 64px; */
    display: grid;
    /* gap: 64px; */
    /* margin: 64px 0; */
}

/** styler ALLE seksjoner på siden: */

section {
    margin-inline: 64px;
    margin-top: 128px;
    /* border: 2px solid red; */   
    display: flex;
    align-items: center; 
    padding: 80px;
    background-color: var(--grey);
    border-radius: 16px;
}

section:last-of-type{
    margin-bottom: 128px;
}

div.divider {
    background-color: var(--grey);
    height: 160px;
}
