section.projects {
  flex-direction: column;
  gap: 24px;
}

section.projects div.projects-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

section.projects div.project-card {
  width: 300px;
  display: grid;
  gap: 16px;
  background-color: #4e516e;
  padding: 16px;
}

section.projects div.project-card h3 {
}

section.projects div.project-card figure {
  max-width: 300px;
}

section.projects div.project-card figure img {
  width: 100%;
}

section.projects div.project-card p {
}

section.projects div.project-card button {
}

section.projects div.project-card button a {
}
